* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

main {
    margin-top: 1em;
    padding: 0 1em 0 1em;
}

li {
    list-style: none;
}

header {
    display: flex;
    height: 100px;
    width: auto;
    justify-content: center;
    align-content: center;
}

.mobileHeader {
    place-content: start space-evenly;
}

section {
    p {
        width: 30ch;
    }
}

/* de filter in de header */
.filterButton {
    padding: 0.3em;
    background: var(--background-color-2);
    border-radius: 0.3em;
}

.filterHeader {
    width: 100vw;
    height: fit-content;
    top: 100px;
    gap: 1em;
    top: 4em;
    place-content: center;
    position: absolute;
    display: flex;
}

/* einde filterheader */
section.articleList {
    display: flex;
    flex-direction: column;
section.articlePreview.nieuws {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: transparent;
    border-top: solid;
    border-radius: 0;

    h4 {
        padding-bottom: 0;
    }

    img {
        width: 150px;
        
    }
}
.error-img {
    width: 80vw;
    justify-content: center;
}
